button { transition: all 300ms }

html {
    text-align: center;
    background-color: deepskyblue;
}

button:hover {
    transform: scale(1.1);
    opacity: 1;
}

p {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}

h1 {
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    color: white;
}

hr {
    width: 50%;
    color: white;
    background-color: white;
    height: 2px;
}

.btn-group button {
    border: 1px solid white;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin-left: 25%;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:hover {
    background-color: dodgerblue;
}